
.title_statistics {
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
}

.statistic {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title_statistic:not(:first-child) {
    margin-left: 10px;
}

p.title_statistic {
    /* font-weight: bold; */
    font-size: 18px;
}